/* Variables */
:root {
    --primary-color: #515558;
    --secondary-color: white;
    --accent-color: #f30000;
    --border-size: 3px;
}

button.restart_button {
    font-size: 150%;
    border-radius: 0;
    border-top: var(--border-size) solid var(--secondary-color);
    border-left: var(--border-size) solid var(--secondary-color);
    border-right: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    margin: -4px;
    background-color: #949494;
    background-image: none;
}

button.restart_button:active {
    border-top: var(--border-size) solid var(--primary-color);
    border-left: var(--border-size) solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

label.mines_remaining_label,
label.time_remaining_label {
    font-size: 250%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.square-button {
    min-width: 20px;
    min-height: 20px;
    border-radius: 0;
    border-top: var(--border-size) solid var(--secondary-color);
    border-left: var(--border-size) solid var(--secondary-color);
    border-right: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    background-color: #949494;
    background-image: none;
    margin-top: -1px;
    margin-left: -1px;
}

.seven-segment {
    font-family: "Ubuntu Mono", monospace;
    font-size: xx-large;
    font-weight: bold;
    color: var(--accent-color);
    background-color: #1A1A1A;
}

.main-box {
    margin: -3px;
}

.inner-box {
    border-top: var(--border-size) solid var(--secondary-color);
    border-left: var(--border-size) solid var(--secondary-color);
    background-color: #788088;
    padding: 10px;
}

.top-box {
    border-top: var(--border-size) solid var(--primary-color);
    border-left: var(--border-size) solid var(--primary-color);
    border-right: var(--border-size) solid var(--secondary-color);
    border-bottom: var(--border-size) solid var(--secondary-color);
    padding: 10px;
}

.bottom-box {
    border-top: 5px solid var(--primary-color);
    border-left: 5px solid var(--primary-color);
    border-right: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
}

.active,
.revealed-cell {
    font-weight: bolder;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-right: none;
    border-bottom: none;
    background-color: #a7a8a8;
}

.lost-cell {
    background-color: var(--accent-color);
}

.number-one {
    color: #0000FF;
}

.number-two {
    color: #008000;
}

.number-three {
    color: #FF0000;
}

.number-four {
    color: #000080;
}

.number-five {
    color: #800000;
}

.number-six {
    color: #008080;
}

.number-seven {
    color: #000000;
}

.number-eight {
    color: #808080;
}

/* 
General Styles
 */

/* button,
label {
    transition: all 0.2s;
    transition-timing-function: ease-out;
} */

box.horizontal {
    background-color: #eceacf;
    border-radius: 0;
    border-color: #000000;
    color: #000000;
    caret-color: #000000;
    outline-color: #000000;
    text-decoration-color: #000000;
}

.menu-bar {
    background-color: #eceacf;
    border-color: #000000;
    border-radius: 0;
    color: #000000;
    caret-color: #000000;
    outline-color: #000000;
    text-decoration-color: #000000;
}

item {
    background-color: #eceacf;
    border-color: #000000;
    color: #000000;
    caret-color: #000000;
    outline-color: #000000;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    text-decoration-color: #000000;
}