/* Variables */
:root {
    --background-color: #c0c0c0;
    --shadow-color: #707070;
    --light-color: white;
    --red-color: #ff2c2c;
    --border-size: 3px;
}

button.restart_button {
    font-size: 140%;
    border-radius: 0;
    border-top: var(--border-size) solid var(--light-color);
    border-left: var(--border-size) solid var(--light-color);
    border-right: 4px solid var(--shadow-color);
    border-bottom: 4px solid var(--shadow-color);
    margin-bottom: -4px;
    background-color: var(--background-color);
    background-image: none;
}

button.restart_button:active {
    border-top: var(--border-size) solid var(--shadow-color);
    border-left: var(--border-size) solid var(--shadow-color);
    border-right: none;
    border-bottom: none;
    margin-bottom: 0;
}

label.mines_remaining_label,
label.time_remaining_label {
    font-size: 250%;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Ubuntu Mono", monospace;
    font-size: xx-large;
    font-weight: bold;
    color: var(--red-color);
    background-color: #1A1A1A;
    border-top: 1px solid var(--shadow-color);
    border-left: 1px solid var(--shadow-color);
    border-right: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.mines_remaining_box {
    border-top: 1px solid var(--shadow-color);
    border-left: 1px solid var(--shadow-color);
    border-right: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    background-color: #1A1A1A;
}

.square-button {
    min-width: 20px;
    min-height: 20px;
    border-radius: 0;
    border-top: var(--border-size) solid var(--light-color);
    border-left: var(--border-size) solid var(--light-color);
    border-right: 4px solid var(--shadow-color);
    border-bottom: 4px solid var(--shadow-color);
    background-color: var(--background-color);
    background-image: none;
    margin-top: -1px;
    margin-left: -1px;
}

.main-box {
    margin: -3px;
}

.inner-box {
    border-top: var(--border-size) solid var(--light-color);
    border-left: var(--border-size) solid var(--light-color);
    background-color: var(--background-color);
    padding: 10px;
}

.top-box {
    border-top: var(--border-size) solid var(--shadow-color);
    border-left: var(--border-size) solid var(--shadow-color);
    border-right: var(--border-size) solid var(--light-color);
    border-bottom: var(--border-size) solid var(--light-color);
    padding: 10px;
}

.bottom-box {
    border-top: 5px solid var(--shadow-color);
    border-left: 5px solid var(--shadow-color);
    border-right: 5px solid var(--light-color);
    border-bottom: 5px solid var(--light-color);
}

.active,
.revealed-cell {
    font-weight: bolder;
    border-top: 1px solid var(--shadow-color);
    border-left: 1px solid var(--shadow-color);
    border-right: none;
    border-bottom: none;
    background-color: var(--background-color);
}

.lost-cell {
    background-color: var(--red-color);
}

.number-one {
    color: #0000FF;
}

.number-two {
    color: #008000;
}

.number-three {
    color: #FF0000;
}

.number-four {
    color: #000080;
}

.number-five {
    color: #800000;
}

.number-six {
    color: #008080;
}

.number-seven {
    color: #000000;
}

.number-eight {
    color: #808080;
}

/* 
General Styles
 */

/* button,
label {
    transition: all 0.2s;
    transition-timing-function: ease-out;
} */

popover,
contents,
.aboutdialog,
viewport,
.menu-bar {
    background-color: #eceacf;
    border-radius: 0;
    border-color: #000000;
    color: #000000;
    caret-color: #000000;
    outline-color: #000000;
    text-decoration-color: #000000;
}

.titlebar {
    background-color: #245dda;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button.close {
    background-color: #FF0000;
    padding: 3px;
    color: #FFFFFF;
    font-weight: bolder;
    border: 1px solid white;
}

item {
    background-color: #eceacf;
    border-color: #000000;
    color: #000000;
    caret-color: #000000;
    outline-color: #000000;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    text-decoration-color: #000000;
}